# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Build outputs
build/
dist/
*.spec

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
data/hot_data/
data/cold_data/
models/*.pt

# Env
.env
